'ft-outline-editor':
  'ctrl-cmd-c': 'foldingtext-markdown:copy-markdown'
  'ctrl-cmd-v': 'foldingtext-markdown:paste-markdown'

'ft-outline-editor.outline-mode':
  'm p': 'foldingtext-markdown:make-paragraph'
  'm h': 'foldingtext-markdown:make-header'
  'm c': 'foldingtext-markdown:make-code-block'
  'm q': 'foldingtext-markdown:make-block-quote'
  'm o': 'foldingtext-markdown:make-ordered-list'
  'm b': 'foldingtext-markdown:make-bullet-list'