@import "ui-variables";

li[data-type="Header"] > .bcontent > .bbody {
  color: @text-color-highlight;
}

li[data-type="BlockQuote"] {
  font-style: italic;
  background: mix(@syntax-invisible-character-color, @syntax-background-color, 25%);
  > .bcontent > .bgutter > .bitemHandle::after {
    content: "❝";
  }
}

li[data-type="CodeBlock"] > .bcontent > .bbody {
  font-family: monospace;
}

.bchildren {
  counter-reset:OrderedCounter 0;
}

li[data-type="Bullet"] > .bcontent > .bgutter > .bitemHandle::after {
  content: "•";
  color: @text-color-highlight;
}

li[data-type="Ordered"] > .bcontent > .bgutter > .bitemHandle::after {
  content: counter(OrderedCounter, decimal)".";
  counter-increment: OrderedCounter;
  color: @text-color-highlight;
}